<nav class="navbar fixed-top navbar-expand-sm bg-custom navbar-dark text-uppercase" th:fragment="user_header"
     xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
        <a class="navbar-brand">Your Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <span class="nav-link" sec:authentication="principal.username">Hello,User</span>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">Admin Notice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

