<!doctype html>
<!-- inherit the base page of /normal_user/base-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal_user/base::layout(~{::div})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Dashboard Page - Information Keeper</title>
</head>
<body>
<div>
    <div class="card mr-3 ml-3 p-3">
        <div class="alert" th:classappend="${session.deleteMsg.type}" role="alert"
             th:if="${session.deleteMsg}">
            <span th:text="${session.deleteMsg.content}"></span>
            <th:block th:text="${#session.removeAttribute('deleteMsg')}"></th:block>
        </div>
        <div class="alert alert-info">
            <form name="addContact"  th:object="${contact}"
                  method="POST" enctype="multipart/form-data"
                  th:action="@{/users/importContacts}">

                <div class="alert" th:if="${session.message}" th:classappend="${session.message.type}" role="alert">
                    <span th:text="${session.message.content}"></span>
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                </div>
                <div style="display: flex; flex-wrap: wrap">
                    <input type="file" class="form-control" id="importContactFile" name="importContactFile">
                    <button type="submit" class="btn btn-success btn-block" style="margin-top: 3px;">Import Contacts</button>
                </div>
            </form>
        </div>
        <h5 class="text-center" th:text="${user.name} + '\'s all notes'"></h5>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">NoteID</th>
                    <!--                <th scope="col">UserId</th>-->
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <!--     loop through all contacts       -->
                <tr th:each="contact: ${contacts}">
                    <td scope="row" th:text="${contact.id}"></td>
                    <!--                <td scope="row" th:text="${user.id}"></td>-->
                    <td>
                        <img class="profile_pic" th:src="@{'/images/' + ${contact.imageURL}}" alt=""><span
                            th:text="${contact.name}"></span>
                    </td>
                    <td th:text="${contact.email}"></td>
                    <td th:text="${contact.phoneNumber}"></td>
                    <td>
                        <a th:href="@{'/users/notes/details/' + ${contact.id}}" class="btn btn-info btn-sm">Details</a>
                        <a th:href="@{/users/notes/showFormForUpdate(contactId=${contact.id})}"
                           class="btn btn-warning btn-sm">Update</a>
                        <a onclick="return confirm('are you sure to delete ?')"
                           th:href="@{'/users/notes/delete/' + ${contact.id}}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div> <!-- end of responsive table tag -->
        <!--     for pagination   -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${currentPage != 0}" class="page-item">
                    <a th:href="@{'/users/notes/' + ${currentPage-1}}" class="page-link">Previous</a>
                </li>

                <li th:classappend="${currentPage==i-1?'active': ''}"
                    th:each="i: ${#numbers.sequence(1, totalPages)}"
                    class="page-item">
                    <a th:href="@{'/users/notes/' + ${i-1}}" class="page-link"><span th:text="${i}"></span></a>
                </li>

                <li th:if="${currentPage+1 != totalPages}" class="page-item">
                    <a th:href="@{'/users/notes/' + ${currentPage+1}}" class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <script>
        let items = document.getElementsByClassName("item");
        <!-- alert(items.length);  -->
        <!--    remove active class first    -->
        for(i in items) {
       <!-- alert(items[i].className)-->
            if(items[i].className === 'item active') {
                 items[i].classList.remove('active');
            }
        }
        const allNotes = document.getElementById("all-notes-link");
        allNotes.classList.add("active");
    </script>
</div>
</body>
</html>