<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Reset Password Page - Information Keeper</title>
</head>
<body>
<div>
    <div class="card" style="margin: auto; margin-top : 200px; padding : 20px; width: 90%;">
        <div class="card-header text-center mt-20"><h5>Reset Your Password</h5></div>
        <form th:action="@{/change-password}" method="post">

            <!--   show error conditionally      -->
            <!--            <div th:if="${param.error}">-->
            <!--                <div class="alert alert-danger">Please Provide Correct Credentials</div>-->
            <!--            </div>-->

            <div class="alert" th:classappend="${session.message.type}" role="alert"
                 th:if="${session.message}">
                <span th:text="${session.message.content}"></span>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div>

            <div class="form-group" style="margin-top: 11px;">
                <input type="number" required autofocus name="code" class="form-control"
                       placeholder="Enter Received Code" id="verification_code">
            </div>
            <div class="form-group" style="margin-top: 11px;">
                <input type="text" required autofocus name="new_password" class="form-control"
                       placeholder="Enter new Password" id="new_password">
            </div>
            <button type="submit" class="btn btn-warning btn-block">Reset Password</button>
        </form>
        <div class="form-group form-check text-center">
            <label class="form-check-label">
                <a th:href="@{/loginUser}">Remember Password?</a>
            </label>
        </div>
    </div>
</div>
</body>
</html>